<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site CSS -->
    <link href="static/css/main.css" rel="stylesheet">

    <!-- Plotly -->
    <script src="static/lib/plotly/plotly.min.js"></script>

    <!-- plugin id to name mapping -->
    <script src="static/js/name_map.js"></script>

    <!-- up_btn css and js -->
    <link href="static/lib/up_btn/up_btn.css" rel="stylesheet">
    <script src="static/lib/up_btn/up_btn.js"></script>

    <title>{{ page.title }}</title>
</head>
<body>
{% include navbar.html %}

<div class="container-fluid">
    {{ content }}
</div>

<script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="JavaScript">
up();
</script>
</body>
</html>
